/* .imgPerfilInst {
  grid-area: item1;
}
.logo {
  grid-area: item2;
  width: 11%;
}
.modification {
  grid-area: item3;
}
.institutionData {
  grid-area: item4;
}
.fileinfo1 {
  grid-area: item5;
}
.fileinfo2 {
  grid-area: item6;
}
.fileinfo3 {
  grid-area: item7;
}
.decription {
  grid-area: item8;
}
.google {
  grid-area: item9;
}
.count {
  grid-area: item10;
}
.buttonpag {
  grid-area: item11;
}
.containerInstitutionProfile {
  grid-gap: 10px;
  display: grid;
  margin-left: 20%;
  grid-template-areas:
    "item1 item1 item1 item1 item1"
    "item2 iitem3 item3 item3 item3"
    "item2 item4 item4 item4 item4"
    "item2 item5 item5 item5 item5"
    "item2 item6 item6 item6 item6"
    "item2 item7 item7 item7 item7"
    "item2 item8 item8 item8 item9"
    "item2 item8 item8 item8 item10"
    "item11 item11 item11 item11 item11";
} */
.containerInstitutionProfile > div {
 
  margin-left: 20%;
  float: right;
  flex-direction: column;
  display: flex;
  
}
